version: 2.1
orbs:
  ms-teams-notifier: oktapodia/ms-teams-notifier@1.0.0
jobs:
  test:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Replace this with a real test runner invocation
      - run:
          name: Run tests
          command: curl -X POST -H "Content-Type: application/json" -d "{'text':'text'}" "$TEAMS"
      - ms-teams-notifier/report:
          only_on_fail: false
          webhook_url: $MS_TEAMS_WEBHOOK_URL
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Replace this with steps to build a package, or executable
      - run:
          name: Build an artifact
          command: touch example.txt
      - store_artifacts:
          path: example.txt
      - ms-teams-notifier/report:
          only_on_fail: false
          webhook_url: $MS_TEAMS_WEBHOOK_URL
workflows:
  example:
    jobs:
      - test
      - build:
          requires:
            - test
