version: 2.1
orbs:
  ms-teams-orb: opub/ms-teams-orb@1.0.3
jobs:
  test:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Replace this with a real test runner invocation
      - run:
          name: Run tests
          command: echo $MS_TEAMS_WEBHOOK_URL
      - ms-teams-orb/report:
          only_on_fail: false
          webhook_url: $TEAMS_WEBHOOK_URL
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Replace this with steps to build a package, or executable
      - run:
          name: Build an artifact
          command: touch example.txt
      - store_artifacts:
          path: example.txt
workflows:
  example:
    jobs:
      - test
      - build:
          requires:
            - test
